@font-face {
    font-family: 'Calligraph';
    src: local('Calligraph  Medium'), local('Calligraph-Medium'), url('calligraphmedium.woff2') format('woff2'), url('calligraphmedium.woff') format('woff'), url('calligraphmedium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
